:root {
  --primary: #dc143c;
  --secondary: #8b0000;
  --secondary-two: #fff;
  --bg-dark: #000;
  --transition-time: 1s;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
::selection {
    background-color: #555;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    background-color: var(--bg-dark);
    color: var(--secondary-two);
}
main > section {
    flex: 1;
}
.img {
    max-width: 550px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--bg-dark);
}
.info {
    padding: 30px 20px;
    min-width: 350px;
}
h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary);
    margin-bottom: 15px;
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}
p {
    max-width: 72ch;
    font-size: 1rem;
    margin-bottom: 15px;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
form > div {
    flex: 1 1 max(350px ,calc((100% / 2) - 20px));
}
label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: opacity var(--transition-time), color var(--transition-time);
    opacity: 0;
    font-size: .8rem;
}
label:has(+ :focus),
label:has(+ :not(:placeholder-shown)) {
    opacity: 1;
}
label:has(+ :invalid) {
    color: var(--primary);
}
input {
    letter-spacing: 2px;
    font-size: 1.1rem;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #111;
    border: 2px solid #222;
    color: var(--secondary-two);
    border-radius: 8px;
    transition: border var(--transition-time), box-shadow var(--transition-time);
}
input:focus {
    outline: none;
}
input::placeholder {
    transition: opacity .5s;
}
input:focus::placeholder {
    opacity: 0;
}
input:invalid,
input:focus:invalid {
    border: 2px solid var(--primary);
    box-shadow: 0 0 10px 2px var(--primary);
    color: var(--primary);
}
input:valid,
input:focus:valid {
    border: 2px solid var(--secondary-two);
    box-shadow: 0 0 10px 2px var(--secondary-two);
}
input:placeholder-shown {
    border: 2px solid #222;
    box-shadow: none;
}
input:required:placeholder-shown:not(:focus) {
    border: 2px solid #555;
}
button {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px 50px;
    background-color: var(--secondary);
    color: var(--secondary-two);
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-time);
}
button:hover {
    background-color: red;
}